body {
    overflow-x: hidden;
    background-color: #FFFAF0;
}

#welcome {
    font-family: 'Oranienbaum', serif;
    font-size: 45px;
}

.contact {
    float: right;
    margin: 10px 15px 0 0;
}

.con_imp:hover {
    color: #d11860;
}

.row.header {
    margin-bottom: 15px;
}

.navbar-default {
    background-color: #9dc867;
    border-color: #78a93d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #24250e;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
    background-color: #b6d68f;
    border-color: #78a93d;
}

.navbar-default .navbar-toggle:hover {
    background-color: #9dc867;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #24250e;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
    color: #d11860;
    background-color: #e2e4b4;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #d11860;
    background-color: #9dc867;
}

.dropdown-menu {
    background-color: #9dc867;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #24250e;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #d11860;
    background-color: #e2e4b4;
}

.loginInput {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginButton {
    background-color: #9dc867;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: 1px solid #78a93d;
    cursor: pointer;
    width: 100%;
}

.loginButton:hover,
.loginButton:active {
    color: #d11860
}

.filterButton {
    color: #24250e;
}

.modal-signUp {
    padding: 0 15px 15px 15px;
}

.signUpInput {
    width: 25%;
    padding: 8px 15px;
    margin: 8px 40px 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signUpRadio {
    width: 25%;
    padding: 10px 0;
    margin: 8px 40px 10px 0;
    display: inline-block;
    box-sizing: border-box;
}

.signUpLabel {
    width: 15%;
    display: inline-block;
}

.imageUpload {
    margin: 8px 0 10px 0;
    display: inline-block;
    box-sizing: border-box;
}

.carousel-inner > .item,
.carousel-inner > .item > a {
    height: 345px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 260px;
}

.carousel {
    background: linear-gradient(to bottom, #f0f1da 0%, #e2e4b4 100%);
}

.carousel-image {
    left: 15%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel-text {
    width: 40%;
    position: absolute;
    margin-left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.carousel-text > h2 {
    color: #d11860;
}

.carousel-text > p {
    color: #24250e;
}

p.category {
    color: gray;
}

.carousel-indicators {
    bottom: 1px;
}

.carousel-indicators li {
    border: 1px solid #24250e;
}

.carousel-indicators .active {
    background-color: #24250e;
}

.women, .men, .girls, .boys, .babies {
    background-color: #e2e4b4;
    padding: 0;
    height: 80px;
}

.overlay > a {
    color: #24250e;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.overlay:hover {
    background: rgba(128,128,128,0.2);
    border-radius: 4px;
}

.overlay > a:hover {
    color: #d11860;
}

.women, .men {
    margin-top: 20px;
    border-bottom: 1px solid #24250e;
}

.women, .girls, .boys {
    border-right: 1px solid #24250e;
}

.artikel, .artikelplus {
    padding: 20px;
    margin: 0 15px 50px 15px;
    text-align: center;
    height: 526px;
    width: 265px;
    float: left;
    border: 1px solid #e2e4b4;
    border-radius: 4px;
}

.artikelplus {
    padding: 0;
}

.artikelplus:hover {
    border: none;
}

.artikelbild {
    max-height: 200px;
    max-width: 225px;
}

.artikelbilddiv {
    height: 200px;
    width: 225px;
}

.artikeltext {
    padding-top: 35px;
}

.artikelh3 {
    height: 52px;
}

.filter {
    background-color: #e2e4b4;
    border-radius: 4px;
    padding: 20px;
}

.published {
    margin-right: 5px;
}

.glyphicon-edit, .glyphicon-trash {
    font-size: 20px;
    padding-bottom: 20px;
}

.glyphicon-edit:hover, .glyphicon-trash:hover, .glyphicon-plus:hover,
.glyphicon-edit:active, .glyphicon-trash:active, .glyphicon-plus:active {
    color: #d11860;
}

.glyphicon-edit {
    float: left;
    margin-left: 40px;
}

.glyphicon-trash {
    float: right;
    margin-right: 40px;
}

.glyphicon-plus {
    font-size: 80px;
    height: 100%;
    width: 100%;
    padding-top: 185px;
}

.editProfile {
    margin-left: 20px;
    float: none;
}

.profile {
    padding-left: 50px;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the top */
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.back-to-top {
    background: #e2e4b4;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1em;
}

a:focus, a:hover {
    color: #d11860;
    text-decoration: none;
}

a {
    color: #24250e;
}