/*ALLGEMEIN*/
html{
    margin:0;
    padding:0;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

/*HEADER*/
#header {    
    margin: 0;
    padding:0;
    height: 9.5em;
    width: 100%;
    background-color: white;
}

#header h1{
    font-family: cursive;
}

#logo{
    float: left;
}

#navigation{
    float: left;
    padding-left: 2em;
}

#navigation a{
    float: right;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
}

#navigation a:hover{
    color: greenyellow;
}

#feld {
    background-color: black;
    width: 65em;
    height: 2em;
}

/*AUSWAHLLEISTE*/
#selection{
    margin: 10px;
    padding: 1em;
    border-radius: 5px;
    float: left;
    width: 9em;
    background-image: linear-gradient(to top, white 0%, greenyellow 50%);
    box-shadow: 10px 10px 5px 0px #999;
    font-size: 12pt;
}

/*RESTLICHER INHALT*/
#content{
    margin-left: 15em;
    margin-right: 1em;
    padding: 10px;
    width: 65em;
    background-color: white;
}

/*Artikel-Presentation*/
.Artikel{
    padding: 0.5em;
    background-image: linear-gradient(to top, white 0%, gray 50%);
    border-width: 0.25px;
    border-color: black;
    border-style: solid;
    height: 15em;
    width: 10em;
    float: left;
    border-width: 5px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px 0px #999;
}

.Artikel img{
    width: 10em;
    height: 10em;
}

.Artikel a{
    font-family: sans-serif;
}
.Artikel.size{
    float: left;
}

.Artikel.preis{
    float: right;
}

/*Header-Buttons*/
.nav_point{
    left: 0;
    background-color: #9FF781;
    float: left;
    width: 200px;
    height: 3em;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #5FB404;
    margin-right: 1%;
    box-sizing: border-box;
}

.nav_point a {
    float: left;
    display:block;
    width: 100%;
    height: 2.35em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.nav_point a:hover{
    background-color: grey;
    border-radius: 5px;
}

.nav_point:last-child{
    margin-right: 0;
}


